
footer {
    grid-area: footer;
    height: 13%;
    background: #eb098d; 
    overflow: hidden;
     
    .titulo-lista {
        color:white;
        font-size:  15px;
        list-style: circle;
        list-style-position: inside;
        text-align: center;
        margin-top: 8px;
    }
    
    .instagram {
        color: white;
        text-decoration: none;
    }
    
    .facebook {
        color: white;
        text-decoration: none;
    }
    
    .twitter {
        color:white;
        text-decoration: none;
    }
}

