.grid-container-locales {
    display: grid;
    grid-template-areas: 
    "titulo"
    "locales-01"
    "locales-02"
    ;
    
    grid-template-rows: repeat(3 1fr);
    grid-template-columns: 1fr;
    row-gap: 50px;
    justify-items: stretch;
    align-items: center;
}

#titulolocales {
    grid-area: titulo;
    justify-self: center;
    
}

#locales-01 {
    grid-area: locales-01;
    justify-self: center;
    
}

#locales-02 {
    grid-area: locales-02;
    justify-self: center;
    
}

.locales {
    font-size: 18px;
    font-weight: 300;
}

.titulolocales1 {
    font-weight: 500;
    font-size: 25px;
}

.titulolocales2 {
    font-size: 20px;
    font-weight: 400;
}


@media only screen and (min-width:764px){

    .grid-container-locales {
        display: grid;
        grid-template-areas: 
        "titulo titulo"
        "locales-01 locales-02"
        "locales-01 locales-02"

        ;
        grid-template-rows: repeat(3 1fr);
        grid-template-columns: repeat(2 1fr);
        
    }
    #titulolocales {
        
        justify-self: center;
        
    }
    
    #locales-01 {
        margin-left: -30%;
    }
    
    #locales-02 {
       margin-left: -300%;
    }  

}
