* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#texto2 {
    color: #eb098d;
    font-size: 40px; 
    font-weight: 500;
}

.laratitulo{
    color: black;
    font-size: 25px;
    font-weight: 300;
}

.parrafo-nosotros {
    color:rgb(5, 5, 5);
    font-size: 20px;
    font-weight: 100;
}

header {
    grid-area: header;

}
.logo {
    margin-left: 45%;
    margin-bottom: 2%;
}

#grilla {
    display: grid;
    grid-template-areas: 
    "header header header"
    "textoBK textoBK textoBK"
    "imagenportada aside blank_"
    ;
    grid-template-columns: repeat(3 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    margin: 2%;
}

section#textoBK {
    grid-area: textoBK;
    margin-left: 2%;
    margin-top: 0%;
    margin-bottom: 2%;
    margin-right: 2%;
}

section#imagenportada {
    grid-area: imagenportada;
    height: 100%;
    width: 90%;
    margin-left: 5%;
    overflow: hidden;

}

aside {
    grid-area: aside;
    
}


